<footer class="footer mt-auto py-3 bg-light">
<div class="container">
        <div class="row">
          <div class="col-sm-8 col-md-7 py-4">
            <h4>Site map</h4>
              <p class="small"><a href="{{ site.baseurl }}/">Home</a><br>
              <a href="/CV">Curriculum vitae</a><br>
              <a href="/projects">Projects</a></p>

          </div>

          <div class="col-sm-3 offset-md-1 py-4">
            <h4>Contact</h4>
            <small class="text-muted">
            &nbsp<a href="mailto:erica.scarpa@gmail.com"><i class="fa fa-envelope fa-2x"></i></a>&nbsp
            <a href="https://www.researchgate.net/profile/Erica_Scarpa3"><i class="fab fa-researchgate fa-2x"></i></a>&nbsp
            <a href="https://github.com/erica-scarpa"><i class="fab fa-github-alt fa-2x"></i></a>&nbsp
            <a href="https://twitter.com/erica_scarpa"><i class="fab fa-twitter fa-2x"></i></a></small>
              
                  <div itemscope itemtype="https://schema.org/Person"><a itemprop="sameAs" content="https://orcid.org/0000-0001-6250-304X" href="https://orcid.org/0000-0001-6250-304X" target="orcid.widget" rel="me noopener noreferrer" style="vertical-align:top;"><img src="https://orcid.org/sites/default/files/images/orcid_16x16.png" style="width:1em;margin-right:.5em;" alt="ORCID iD icon"><small>0000-0001-6250-304X</small></a></div>
          </div>
        </div>
      </div>
<!--  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col">
        <center><a href="{{ site.baseurl }}/">{{ site.title }}</a><br>
<i class="fab fa-creative-commons fa-fw"></i> <i class="fab fa-creative-commons-by fa-fw"></i> <i class="fab fa-creative-commons-nc fa-fw"></i> <i class="fab fa-creative-commons-sa fa-fw"></i>
<br /><a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC Attribution - Non Commercial - Share Alike</a>
        </center>

    </div>

                <div class="footer-col">
                <center>
                  <a href="mailto:erica.scarpa@gmail.com"><i class="fa fa-envelope"></i></a>
                  <a href="https://www.researchgate.net/profile/Erica_Scarpa3"><i class="fab fa-researchgate"></i></a>
                  <a href="https://github.com/erica-scarpa"><i class="fab fa-github-alt"></i></a>
                  <a href="/feed.xml"> <i class="fas fa-rss"></i></a>
                  <br />
                  <a href="https://www.digitalfreedomfoundation.org/""><i class="fas fa-book-open"></i></a>
                  <a href="https://opensource.org"><i class="fab fa-osi"></i></a><br>
                  <div itemscope itemtype="https://schema.org/Person"><a itemprop="sameAs" content="https://orcid.org/0000-0001-6250-304X" href="https://orcid.org/0000-0001-6250-304X" target="orcid.widget" rel="me noopener noreferrer" style="vertical-align:top;"><img src="https://orcid.org/sites/default/files/images/orcid_16x16.png" style="width:1em;margin-right:.5em;" alt="ORCID iD icon">0000-0001-6250-304X</a></div>
                </center>
                </div>

      </div>
      <div class="footer-col">
        <p>{{ site.description | escape }}</p>
      </div>
    </div>
-->
  



</footer>
